<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876821601873-pjkjkidr5a8pkn84sktskh592h6t7hkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876821601873-pjkjkidr5a8pkn84sktskh592h6t7hkr</string>
	<key>API_KEY</key>
	<string>AIzaSyB7EToiJY2Nk10IDsyg6OtIJQyKOWoNG4o</string>
	<key>GCM_SENDER_ID</key>
	<string>876821601873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toeic</string>
	<key>PROJECT_ID</key>
	<string>toeic-c58a4</string>
	<key>STORAGE_BUCKET</key>
	<string>toeic-c58a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876821601873:ios:3ef22477675899b58ea270</string>
</dict>
</plist>